{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
        <link rel="icon" href="static/images/ProfileHome/connected.png" type="image/icon type">

       <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/60fd9acb6f.js" crossorigin="anonymous"></script>
</head>
<body>
    

 
    <nav>
         
        <div class="nav-left">

            <img src=" {% static 'images\ProfileHome\connected.png' %}" class="logo">
            <ul>
                <li><div class="clickable" onclick="notificationMenuToggle()"><img src="{% static 'images\ProfileHome\notification.png' %}"></div></a></li>
                <li><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"><img src="{% static 'images\ProfileHome\inbox.png' %}" alt=""></a></li>
                <li><a href="/home"><img src="{% static 'images\ProfileHome\Home.svg' %}" alt=""></a></li>
            </ul>

        </div>


        <div class="nav-right">
              <div class="search-box">
                <form method="POST" class="search">
                     {% csrf_token %}
                <img src="{% static 'images\ProfileHome\search.png ' %}">
                <input type="text" placeholder="Search" name="sea">
                <button type="submit"  name="search"  style="border-radius:25%; background:#fff; color:#0aa9ff;margin-left:10px;padding-left:10px;padding-right:10px;border:1px #fff solid;">Search</button>
                </form>
            </div>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="{{dp}}">
           
            </div>
        </div>


     <!---------Settings-menu------------------>  
        <div class="settings-menu">

            <div id="dark-btn">
                <span></span>
            </div>
            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img src="{{dp}}">
                    <div>
                        <p>{{name}}</p>
                        <a href="profile.html">See Your Profile</a>
                    </div>
                </div>
                <hr>
                <div class="user-profile">
                    <img src="{% static 'images\ProfileHome\feedback.png' %}">
                    <div>
                        <p>Give Feedback</p>
                        <a href="/feedback">Help Us to add more feature</a>
                    </div>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="{% static 'images\ProfileHome\setting.png' %}"  class="settings-icon">
                    <a href="/details">Settings & Privacy <img src="{% static 'images\ProfileHome\arrow.png' %}" width="10px"></a>
                </div>


                <div class="settings-links">
                    <img src="{% static 'images\ProfileHome\logout.png' %}"  class="settings-icon">
                    <a href="#"> Logout <img src="{% static 'images\ProfileHome\arrow.png' %}"  width="10px"></a>
                </div>
            </div>  
        </div>


        <div class="notification-menu">

     
                
                <div class="notifications">
                    <img src="{% static 'images\dp.jpg' %}">
                    <div>
                        <p>Give Feedback</p> 
                        <small>Updated Profile</small>
                    </div>
                </div>
                <hr>

                <div class="notifications">
                    <img src="{% static 'images\dp.jpg' %}">
                    <div>
                        <p>Give Feedback</p> 
                        <small>Updated Profile</small>
                    </div>
                </div>
                <hr>

                <div class="notifications">
                    <img src="{% static 'images\dp.jpg' %}">
                    <div>
                        <p>Give Feedback</p> 
                        <small>Updated Profile</small>
                    </div>
                </div>
                <hr>
                <a href="notification.html">See All</a>
            </div>  
        </div>
    </nav>


    <!-------------profile page-------- ------->

    <div class="profile-container">
        <img src="{% static 'images\top 10.jpg' %}" class="cover-img">
        <div class="profile-details">
            <div class="pd-left">
                <div class="pd-row">
                    <img src="{{dp}}" class="pd-img">
                    <div>
                        <h3>{{name}}</h3>
                        <p>120 Friends - 20 Mutual</p>
                        <img src="{% static 'images\dp.jpg' %}">
                        <img src="{% static 'images\dp.jpg' %}">
                        <img src="{% static 'images\dp.jpg' %}">
                        <img src="{% static 'images\dp.jpg' %}">

                    </div>
                </div>
            </div>
            <div class="pd-right">

                <button type="button"><img src="{% static 'images\ProfileHome\add-friends.png' %}">Friends</button>
                <button type="button"><img src="{% static 'images\ProfileHome\message.png' %}" alt="">Message</button>
            </div>

        </div>

        <div class="profile-info">
            <div class="info-col">

                <div class="profile-intro">
                    <h3>Intro</h3>
                    <p class="intro-text">Life is an illusion god is the illusionist. <img src="{% static 'images\feeling.png' %}" alt=""></p>
                    <hr>
                    <ul>
                        <li><img src="{% static 'images\search.png' %}" alt=""> Director at Yakob</li>
                        <li><img src="{% static 'images\search.png' %}" alt=""> Studied at CMS College</li>
                        <li><img src="{% static 'images\search.png' %}" alt=""> Live in Banglore</li>
                    </ul>
                </div>

                <div class="profile-intro">
                    <div class="title-box">
                        <h3>Photos</h3>
                        <a href="#">All Photos</a>

                    </div>
                  
                    <div class="photo-box">
                        { % i in urls % }
                        <div><img src="{{i}}" alt=""></div>
                        { % endfor % }
<!--                        <div><img src="{% static 'images\dp.jpg' %}" alt=""></div>-->
<!--                        <div><img src="{% static 'images\dp.jpg' %}" alt=""></div>-->
<!--                        <div><img src="{% static 'images\dp.jpg' %}" alt=""></div>-->
                    </div>
                </div>

                <div class="profile-intro">
                    <div class="title-box">
                        <h3>Friends</h3>
                        <a href="#">All Friends</a>

                    </div>
                  <p>120 (10 mutual)</p>
                    <div class="friends-box">
                          { % adp,alluser in friend % }
                        <div><img src="{{adp}}" alt=""><p>{{alluser}}</p></div>
                         { % endfor % }
<!--                        <div><img src="{% static 'images\dp.jpg' %}" alt=""><p>Jacob</p></div>-->
<!--                        <div><img src="{% static 'images\dp.jpg' %}" alt=""><p>Jacob</p></div>-->
<!--                        <div><img src="{% static 'images\dp.jpg' %}" alt=""><p>Jacob</p></div>-->
<!--                        <div><img src="{% static 'images\dp.jpg' %}" alt=""><p>Jacob</p></div>-->
                    </div>
                </div>

            </div>
            <div class="post-col">
                <form method="POST" class="upload-post">
                      {% csrf_token %}
                <div class="write-post-container">
                    <div class="user-profile">
                        <img src="{{dp}}">
                        <div>

                            <p>{{name}}</p>
                            <small>Public <i class="fas fa-caret-down"></i> </small>

                        </div>
                    </div>
                    <div class="post-input-container">
                        <textarea rows="3"placeholder="What's on your mind" name="description"></textarea>
<!--                           <input type="file" accept="image/*" onchange="loadFile(event)">-->
                            <img id="output" style="width :100px "/>
                            <div id="file-upload-filename"></div>





                        <div class="add-post-links">

                            <a href=""> <div class="image-upload">
                                <label for="file-upload" class="clickable">
                                    <img src="{% static 'images\ProfileHome\file.svg' %}">File Format
                                </label>
                                <input id="file-upload" type="file" accept="" onchange="loadFile(event)" />
                              </div></a>

                            <script>


                                     var loadFile = function(event) {
                                    var reader = new FileReader();
                                    reader.onload = function(){
                                      var output = document.getElementById('output');
                                      output.src = reader.result;
                                    };
                                    reader.readAsDataURL(event.target.files[0]);
                                  };


                                var input = document.getElementById( 'file-upload' );
                                var infoArea = document.getElementById( 'file-upload-filename' );

                                input.addEventListener( 'change', showFileName );

                                function showFileName( event ) {

                                  // the change event gives us the input it occurred in
                                  var input = event.srcElement;

                                  // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
                                  var fileName = input.files[0].name;

                                  // use fileName however fits your app best, i.e. add it into a div
                                  infoArea.textContent = 'File name: ' + fileName;
                                }

                            </script>



                         <a href=""> <div class="image-upload">
                                <label for="file-upload" class="clickable" onchange="loadFile(event)">
                                  <img src="{% static 'images\photo.png' %}"/>Photo
                                </label>
                                <input id="file-upload" type="file" accept="image/*"/>
                              </div></a>

                             <a href=""> <div class="image-upload">
                                <label for="file-upload" class="clickable" onchange="loadFile(event)">
                                  <img src="{% static 'images\live-video.png' %}"/>Video
                                </label>
                                <input id="file-upload" name="files[]" type="file" accept="video/*"/>


                              </div></a>
                             <input type="hidden" name="url" id="url">
<!--                               <input id="files" name="files[]" type="file" accept="image/*"/>-->

                           <button type="button" onclick="uploadimage()" style="margin-left: 33% ;margin-bottom: 20px; border-radius :20% ; background :#0aa9ff; padding:5px ; width : 100px">Confirm</button>

                        </div>


                                      <!--Upload Function-->
                             <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
                            <script>
                                var config = {
                                apiKey: "AIzaSyCztfnYVUT49K8JVDRsL4z1oSxN8lu7V-E",
                                authDomain: "connected-try.firebaseapp.com",
                                databaseURL: "https://connected-try-default-rtdb.firebaseio.com",
                                projectId: "connected-try",
                                storageBucket: "connected-try.appspot.com",
                                messagingSenderId: "1004314390323",
                                appId: "1:1004314390323:web:51d248e16cdf9e15ac5846",
                                measurementId: "G-P0MFRMLT0E"
                              };
                              firebase.initializeApp(config);

                              // Get a reference to the storage service, which is used to create references in your storage bucket

                              function uploadimage(){
                              var storage = firebase.storage();

                              var file = document.getElementById("file-upload").files[0];

                              var storageRef = storage.ref();

                              var thisref = storageRef.child(file.name).put(file);

                              thisref . on('state_changed',function(snapshot){

                              console.log("file uplaoded succesfully");

                              },
                              function(error) {

                              },


                              function() {
                              // Upload completed successfully, now we can get the download URL
                              var downloadURL = thisref.snapshot.downloadURL;
                              console.log("got url");
                              document.getElementById("url").value = downloadURL;
                              alert("file uploaded successfully");
                            });
                                }

                            </script>

                          <button type="submit" name="upload-post" style="background :#0aa9ff ; width : 100px ; margin-top:25px ; border-radius : 7px">Upload</button>
                    </div>
                </div>
            </form>

              {% for lis_time,date,des,urls in comb_lis %}


                     <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="{{dp}}">
                        <div>
                            <p>{{name}}</p>
                           <span>{{date}}</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>

                <p class="post-text">{{des}}</p>
                <img src="{{urls}}" class="post-img">

                <div class="post-row">

                    <div class="activity-icons">
                        <div><img src="{% static 'images\like-blue.png ' %}">120</div>
                        <div><img src="{% static 'images\comments.png ' %}">45</div>
                        <div><img src="{% static 'images\share.png ' %}">4</div>


                    </div>
                    <div class="post-profile-icon">
                        <img src="{{dp}}"> <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>


                {% endfor %}




    
    
                

    
    

            </div>

        </div>

    </div>


    

  
    <div class="footer">
        <p>Copyright 2021 - Yakob  </p>
    </div>


<script src="{% static 'js/script.js' %}"></script>


</body>
</html>