<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{alb}}</title>
</head>
<body>
{% if messages %}
{% for msg in messages %} <div class="user-profile">
                    <img src="images\dp.jpg">
                    <div>

{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}{% for msg in messages %}
                        <p>{{msg}}</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>
                    </div>
                </div>
{% endfor %}
{% endfor %}
{% endif %}
</body>
</html>